<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css" />
  <title>Math Practice</title>
</head>

<body>
  <div id="app">
    <h1>Math Practice</h1>
    <div v-if="notStarted">
      <form v-on:submit.prevent="startTest">
        <button type="submit">Begin</button>
      </form>
    </div>
    <div v-if="start">
      <p> What is {{number1}} {{symbol}} {{number2}}? </p>
      <form v-on:submit.prevent="checkAnswer">
        <input type="text" v-model="answer">
        <button type="submit">Check</button>
      </form>
    </div>

    <p> {{feedback}} </p>

    <div v-if="correct">
      <form v-on:submit.prevent="nextQuestion">
        <button type="submit">Next</button>
      </form>
    </div>

  </div>

  <div class="footer">
    <a href="https://github.com/erikhparkinson/CS260">GitHub</a>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="/script.js"></script>
</body>
</html>
